html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
html,
body {
  font-size: 62.5%;
  line-height: 170%;
}

html {
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*:focus {
  outline: none;
}
/* remove dotted outline from links, button and input element */
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}
/* layout */
body {
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-style: normal;
  font-weight: 400;
  color: #5f5f5f;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 400;
  color: #5f5f5f;
  padding-bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
p a,
p a:hover {
  color: #5f5f5f;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
strong {
  font-weight: bold;
}
::-moz-selection {
  background: #5f5f5f;
  color: #fff;
}
::selection {
  background: #5f5f5f;
  color: #fff;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

/* section */
.sections {
  position: relative;
  z-index: 5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 48px;
  line-height: 70px;
  font-weight: 800;
}
h2 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
}
h3 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 500;
}
h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
h5 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}
h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
section {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.section-title {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.section-title:after {
  content: "";
  height: 3px;
  width: 100px;
  display: block;
  margin-top: 10px;
}
.center-border:after {
  margin: 10px auto auto auto;
}
.btn {
  color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 0 35px;
  font-size: 1rem;
  line-height: 56px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease-in-out 0.1s;
}

a.btn-color,
a.btn-border:hover {
  color: #fff;
}

a.btn-border,
a.btn-color:hover {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

.btn-border {
  border: 1px solid #ffffff;
}
.btn-text-color i {
  margin-left: 10px;
}

a.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
  line-height: 45px;
}

.btn-common {
  line-height: 45px;
  color: #ffffff !important;
}

a.btn-facebook:hover {
  color: #fff;
  background-color: #2d4373;
  border-color: #2d4373;
}

.theme-light-color {
  background: #fff4f2;
}

.box-shadow {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(254, 105, 85, 0.1);
  box-shadow: 0px 4px 8px 0px rgba(254, 105, 85, 0.1);
}

/*Common input style*/
input[type="text"],
select,
input[type="password"] {
  min-height: 45px;
  background: #f7f7f7;
  border-color: #ddd;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  background-color: #fff4f2;
}

/*Checkboxes styles*/
.left-widget input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #878787;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.img-zoom-hover img {
  transform-origin: 65% 75%;
  transition: transform 1s, filter 0.5s ease-out;
}

.img-zoom-hover:hover img {
  transform: scale(1.1);
}

/*margin top & bottom*/

.my120 {
  margin: 120px 0;
}

.my110 {
  margin: 110px 0;
}

.my100 {
  margin: 100px 0;
}

.my90 {
  margin: 90px 0;
}

.my80 {
  margin: 80px 0;
}

.my70 {
  margin: 70px 0;
}

.my60 {
  margin: 60px 0;
}

.my50 {
  margin: 50px 0;
}
.my40 {
  margin: 40px 0;
}
.my30 {
  margin: 30px 0;
}

.my20 {
  margin: 20px 0;
}

.my10 {
  margin: 10px 0;
}

/*margin top*/

.mt120 {
  margin-top: 120px;
}

.mt110 {
  margin-top: 110px;
}

.mt100 {
  margin-top: 100px;
}

.mt90 {
  margin-top: 90px;
}

.mt80 {
  margin-top: 80px;
}

.mt70 {
  margin-top: 70px;
}

.mt60 {
  margin-top: 60px;
}

.mt50 {
  margin-top: 50px;
}
.mt40 {
  margin-top: 40px;
}
.mt30 {
  margin-top: 30px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

/*margin bottom*/

.mb120 {
  margin-bottom: 120px;
}

.mb110 {
  margin-bottom: 110px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb50 {
  margin-bottom: 50px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb30 {
  margin-bottom: 30px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

/*padding top & bottom*/

.py120 {
  padding: 120px 0;
}

.py110 {
  padding: 110px 0;
}

.py100 {
  padding: 100px 0;
}

.py90 {
  padding: 90px 0;
}

.py80 {
  padding: 80px 0;
}

.py70 {
  padding: 70px 0;
}

.py60 {
  padding: 60px 0;
}

.py50 {
  padding: 50px 0;
}
.py40 {
  padding: 40px 0;
}
.py30 {
  padding: 30px 0;
}

.py20 {
  padding: 20px 0;
}

.py10 {
  padding: 10px 0;
}

/*padding top*/
.pt120 {
  padding-top: 120px;
}

.pt110 {
  padding-top: 110px;
}

.pt100 {
  padding-top: 100px;
}

.pt90 {
  padding-top: 90px;
}

.pt80 {
  padding-top: 80px;
}

.pt70 {
  padding-top: 70px;
}

.pt60 {
  padding-top: 60px;
}

.pt50 {
  padding-top: 50px;
}
.pt40 {
  padding-top: 40px;
}
.pt30 {
  padding-top: 30px;
}

.pt20 {
  padding-top: 20px;
}

.pt10 {
  padding-top: 10px;
}

/*padding bottom*/
.pb120 {
  padding-bottom: 120px;
}

.pb110 {
  padding-bottom: 110px;
}

.pb100 {
  padding-bottom: 100px;
}

.pb90 {
  padding-bottom: 90px;
}

.pb80 {
  padding-bottom: 80px;
}

.pb70 {
  padding-bottom: 70px;
}

.pb60 {
  padding-bottom: 60px;
}

.pb50 {
  padding-bottom: 50px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb30 {
  padding-bottom: 30px;
}

.pb20 {
  padding-bottom: 20px;
}

.pb10 {
  padding-bottom: 10px;
}

/* bg */
.bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
