/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
  /* ==============================================================================*/
  /*(Leasing page)*/
  /* ==============================================================================*/
  /* Promo Area css Start */
  .promo-box-right {
    padding: 48px 0;
  }
  /* ==============================================================================*/
  /*(About page)*/
  /* ==============================================================================*/
  /* About Video area */
  .video-content {
    margin-top: -395px;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {
  /* ==============================================================================*/
  /*(Leasing page)*/
  /* ==============================================================================*/
  /* Promo Area css Start */
  .promo-box-right {
    padding: 30px 0;
  }
  .promo-box-right h3 {
    font-size: 28px;
  }
  /* ==============================================================================*/
  /*(About page)*/
  /* ==============================================================================*/
  /* About Video area */
  .video-content {
    margin-top: -326px;
  }
  .know-car {
    padding-bottom: 200px;
  }
  /* ==============================================================================*/
  /*(Leasing Details page)*/
  /* ==============================================================================*/
  /* img label */
  .img-label {
    font-size: 10px;
    padding: 12px;
    margin-top: 125px;
    margin-left: 20px;
    line-height: 0;
  }
  .box-shadow-customer {
    padding: 30px 30px;
  }
  .customers-details-wrapper {
    left: 0;
  }
  .customer-review-area p {
    font-size: 18px;
  }
  .side-line {
    padding-top: 10px;
    padding-left: 45px;
  }
  .img-offer-outside {
    width: 36%;
  }
  .call-text:before {
    right: -3%;
  }
  .footer-bottom-nav ul li a {
    margin-right: 2px;
  }
  .leasing-left {
    padding-right: 20px;
  }

  /* --ride-details-page --*/
  .ride-details-list-body {
    padding-top: 30px;
  }
  .booking-from {
    padding-top: 50px;
  }
  .make-text-area h2 {
    padding: 10px 0;
  }
  .main-ridesharing-inner {
    padding-top: 40px;
  }
  .padding-md {
    padding-top: 30px;
  }
  .search-sec {
    position: relative;
    top: -74px;
    background: rgba(26, 70, 104, 0.9);
  }
  .how-items-img img {
    width: 100%;
  }
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  /* Global css */
  h1 {
    font-size: 38px;
  }
  p {
    font-size: 14px;
  }
  /* ==============================================================================*/
  /*(Leasing page)*/
  /* ==============================================================================*/
  /* Promo Area css Start */

  .promo-box-right {
    padding: 30px 0;
    text-align: center;
  }
  /* Question and answer Area Start*/
  .single-acc h5 {
    font-size: 16px;
  }
  /* ==============================================================================*/
  /*(About page)*/
  /* ==============================================================================*/
  /* About Video area */
  .video-content {
    margin-top: -273px;
  }
  .know-car {
    padding-bottom: 150px;
  }

  /* ==============================================================================*/
  /*(Leasing Details page)*/
  /* ==============================================================================*/
  /* img label */
  .img-label {
    margin-top: 100px;
    margin-left: 23px;
  }
  .single-service .img-holder .static-content .icon a {
    width: 41px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .margin-responsive {
    margin-top: 30px;
  }
  .mar-respos {
    margin-top: 40px;
  }
  .location-counter {
    margin-top: 20px;
  }
  .offer-details {
    padding: 50px 50px 50px 50px;
  }
  .news-input {
    margin-top: 40px;
  }
  .call-text:before {
    right: -20%;
  }
  .mobile-img {
    height: 100%;
    align-items: center;
    display: flex;
  }
  .error-img img {
    width: 100%;
  }
  .sitemap-wrapper {
    text-align: center;
  }
  .how-items-img img {
    width: 100%;
    padding: 50px 40px;
  }
  .how-it-works-area .nav-tabs .nav-item {
    width: 225px;
  }
  .how-tabs-header {
    padding-bottom: 50px;
  }
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {
  /* Global css */
  h1 {
    font-size: 28px;
  }

  /* ==============================================================================*/
  /*(About page)*/
  /* ==============================================================================*/
  /* About Video area */
  .video-content {
    margin-top: -283px;
  }
  .sm-mb-3 {
    margin-bottom: 30px;
  }
  .margin-responsive {
    margin: 0;
  }
  .customer-img img {
    width: 25% !important;
    margin: 0 auto;
  }
  .offer-img {
    height: 30vh;
  }
  .img-offer-outside {
    width: 52%;
  }
  .call-arae {
    display: inherit !important;
  }
  .call-text {
    justify-content: center;
  }
  .news-input {
    margin-top: 10px;
  }
  .news-letter {
    margin-top: 30px;
  }
  .call-text:before {
    display: none;
  }
  .footer-bottom-nav ul li a {
    font-size: 12px;
  }
  .copy-right {
    text-align: center;
    margin-bottom: 10px;
  }
  .mobile-img {
    margin-top: 30px;
  }
  .ride-list-profile {
    position: absolute;
    top: -16%;
    left: 68%;
  }
  .ride-details-list-body {
    padding: 30px;
  }
  .pagination > li > a,
  .pagination > li > span {
    margin-left: 0px;
  }
  .how-it-works-area .nav-tabs .nav-item {
    width: 225px;
  }
  .how-items-img img {
    width: 100%;
    padding: 50px 40px;
  }
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 480px) {
  .about-text-box {
    margin-top: 30px;
  }
  .footer-bottom-nav ul li a {
    font-size: 11px;
  }
  .single-about-box {
    margin-bottom: 30px;
  }
  .how-it-works-area .nav-tabs .nav-item {
    width: 155px;
    font-size: 14px;
  }
}
@media (max-width: 361px) {
  .about-text-box {
    margin-top: 30px;
  }
  .footer-bottom-nav ul li a {
    font-size: 11px;
  }
  .single-about-box {
    margin-bottom: 30px;
  }
  .main-slider .content h1 {
    font-size: 55px;
  }
  .main-slider .content h2 {
    font-size: 16px;
  }
  .main-slider .content h2 img {
    padding-right: 5px;
  }
  .btn {
    padding: 0 22px;
    font-size: 14px;
    line-height: 43px;
  }
  .how-details {
    margin-top: 20px;
  }
  .map-contact-area {
    display: inherit !important;
  }
  .img-offer-outside {
    bottom: 55px;
  }
  .language-selector .dropdown-menu.pull-right {
    left: -197px;
    z-index: 9999999999;
  }
  .main-slider .owl-theme .owl-dots {
    right: 0;
  }
  .news-input .form-control {
    height: 24px !important;
    padding: 0;
  }
  .how-it-works-area .nav-tabs .nav-item {
    width: 136px;
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .news-input .form-control {
    padding: 14px;
  }
  .call-text h3 {
    font-size: 24px;
  }
}
