/*-------------------------------------------------
      [ ## Header ]
*/
.site-header {
  width: 100%;
  z-index: 99;
  top: 0px;
  transition: all 0.3s;
}
@media only screen and (max-width: 1199px) {
  .site-header {
    position: relative;
    top: 0;
  }
}
.site-header .site-navigation {
  padding: 5px 0;
}
.site-header .site-navigation .container-fluid {
  padding: 0 80px;
}
.site-header .site-navigation .navigation-area {
  padding: 0;
  justify-content: space-between;
}
@media only screen and (max-width: 1199px) {
  .site-header .site-navigation {
    display: none;
  }
}
.site-header .navigation-area {
  -moz-box-align: center;
  -moz-box-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 70px;
}
.site-header .navigation-area .site-branding {
  margin-right: 30px;
}
.site-header .navigation-area .site-branding a {
  display: inline-block;
}
.site-header .navigation-area .header-navigation-right {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.site-header .navigation-area .header-navigation-right .contact-info {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 40px;
  background-color: #a4660b;
  padding: 15px 30px;
  text-transform: capitalize;
}
.site-header .navigation-area .header-navigation-right .contact-info > a:hover {
  color: #e42948;
}
@media only screen and (max-width: 1199px) {
  .site-header .navigation-area {
    display: none;
  }
}
.site-header #onePageMenu .menu > ul > li > a {
  margin: 0 12px;
}

/*-------------------------------------------------
    [ ## Sticky header ]
*/
.site-header.sticky-active {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  background-color: black;
  box-shadow: 0px 5px 10px -5px rgba(228, 41, 72, 0.15);
}
.site-header.sticky-active .site-navigation {
  position: relative;
}
.site-header.sticky-active .site-navigation .container-fluid {
  padding: 0 80px;
}
.site-header.sticky-active .site-navigation .navigation-area {
  justify-content: space-between;
  padding: 15px 0;
}
.site-header.sticky-active .menu > ul > li > ul.dropdown-content:after {
  height: 20px;
  top: -20px;
}
.site-header.sticky-active
  .menu
  > ul
  > li.dropdown-trigger:hover
  > ul.dropdown-content {
  top: calc(100% + 20px);
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*-------------------------------------------------
    [ ## Links ]
*/
a {
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a:focus {
  outline: none;
}
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

/*-------------------------------------------------
    [ ## Menus ]
*/
.menu ul {
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}
.menu ul li {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.menu ul li a {
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  position: relative;
}
.menu ul li ul.dropdown-content {
  margin-left: 0;
}
.menu ul li ul.dropdown-content li {
  padding: 0;
  display: block;
}
.menu ul li ul.dropdown-content li a {
  display: block;
  padding: 7px 0px;
  color: white;
  text-transform: capitalize;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  font-size: 16px;
  font-weight: 500;
}
.menu > ul > li:hover > a,
.menu ul li > a.active,
.menu ul li.current > a {
  color: #e42948 !important;
}
.menu > ul > li:hover > a:before,
.menu ul li > a.active:before,
.menu ul li.current > a:before {
  width: 100%;
  left: 0;
  right: auto;
}
.menu > ul > li {
  margin: 0 15px;
}
.menu > ul > li > a {
  padding: 15px 0px;
  font-weight: 500;
  position: relative;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0.075em;
  font-size: 17px;
}
.menu > ul > li:first-child {
  margin-left: 0px;
}
.menu > ul > li:last-child {
  margin-right: 0px;
}
.menu > ul > li > ul.dropdown-content {
  background-color: #222;
  position: absolute;
  width: 235px;
  padding: 15px 20px;
  left: 0;
  top: calc(100% + 50px);
  z-index: 999;
  visibility: hidden;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  opacity: 0;
  z-index: 9999;
}
.menu > ul > li > ul.dropdown-content:before {
  border-color: transparent transparent #222;
  border-style: solid;
  border-width: 11px 7px;
  content: "";
  left: 22px;
  position: absolute;
  top: -22px;
}
.menu > ul > li > ul.dropdown-content > li:hover > a {
  color: #e42948 !important;
  padding-left: 5px;
}
.menu > ul > li > ul.dropdown-content:after {
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  top: -15px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.menu > ul > li.dropdown-trigger > a:after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  padding-left: 5px;
  opacity: 0.5;
  font-weight: 800;
}
.menu > ul > li.dropdown-trigger:hover > ul.dropdown-content {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 15px);
}
.menu > ul > li.dropdown-trigger.mega-menu {
  position: inherit;
}

.menu > ul > li.dropdown-trigger.mega-menu:hover .mega-menu-content {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

ul.dropdown-content > .dropdown-trigger {
  position: relative;
}
ul.dropdown-content > .dropdown-trigger > a {
  position: relative;
}
ul.dropdown-content > .dropdown-trigger > a:after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  right: 0px;
  top: 8px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0.5;
  font-weight: 800;
}
ul.dropdown-content > .dropdown-trigger ul.dropdown-content {
  left: calc(100% + 20px);
  top: -5px;
  visibility: hidden;
  background-color: #222;
  opacity: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  position: absolute;
  width: 200px;
  z-index: 999;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 7px 15px;
}
ul.dropdown-content > .dropdown-trigger:hover > a:after {
  right: -2px;
  opacity: 1;
}
ul.dropdown-content > .dropdown-trigger:hover > ul.dropdown-content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
ul.dropdown-content
  > .dropdown-trigger:hover
  > ul.dropdown-content
  > li:last-child {
  border-bottom: 0px solid #e5e5e5;
}
ul.dropdown-content
  > .dropdown-trigger:hover
  > ul.dropdown-content
  > li:hover
  > a {
  color: #e42948;
  padding-left: 5px;
}

@media only screen and (max-width: 1620px) {
  .mega-menu-content {
    left: 0px;
    width: calc(100vw - 30px);
  }
}
/* [ ### Mobile Menu ] */
.mobile-menu-area {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .mobile-menu-area {
    display: block;
  }
}

.mean-container {
  position: relative;
}
.mean-container .mean-bar {
  min-height: 75px;
  background-color: transparent;
  z-index: 9999;
}
.mean-container a.meanmenu-reveal {
  padding: 22px 0;
  right: 0px !important;
  width: 30px;
}
.mean-container a.meanmenu-reveal span {
  background-color: #e42948;
  height: 2px;
}
.mean-container a.meanmenu-reveal i {
  color: #000;
  display: block;
  font-size: 20px;
  margin-top: 8px;
}
.mean-container a.meanmenu-reveal.meanclose + .mean-nav {
  margin-top: 70px;
  padding-bottom: 20px;
}
.mean-container .mean-nav {
  margin-top: 55px;
  background: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.mean-container
  .mean-nav
  ul.dropdown-content
  > .dropdown-trigger
  ul.dropdown-content {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
  top: 0px;
  border-top: 0px solid;
}
.mean-container .mean-nav ul li {
  float: none;
}
.mean-container .mean-nav ul li.dropdown-trigger:hover > a {
  color: #e42948;
  padding-left: 7px;
}
.mean-container .mean-nav ul li a.mean-expand {
  height: 55px;
  padding: 0 !important;
  width: 100%;
}
.mean-container .mean-nav ul li a.mean-expand:before {
  position: absolute;
  content: "\f0da";
  top: 0;
  right: -5px;
  width: 30px;
  height: 100%;
  text-align: center;
  font-family: "Font Awesome 5 Free";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 18px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.mean-container .mean-nav ul li a.mean-expand > span {
  display: none;
}
.mean-container .mean-nav ul li a.mean-clicked:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.mean-container .mean-nav ul li a {
  text-transform: capitalize;
}
.mean-container .mean-nav ul li a:hover {
  color: #e42948;
}
.mean-container .mean-nav ul li li a {
  padding: 15px 25px;
  text-transform: capitalize;
  width: calc(100% - 50px);
}
.mean-container .mean-nav ul li li a:hover {
  padding-left: 30px !important;
}
.mean-container ul.dropdown-content > .dropdown-trigger > a:after {
  content: "";
}
.mean-container ul.dropdown-content > .dropdown-trigger ul.dropdown-content {
  left: 0 !important;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 0;
}
.mean-container
  ul.dropdown-content
  > .dropdown-trigger
  ul.dropdown-content
  > li
  > a:hover {
  padding-left: 30px;
}
.mean-container
  ul.dropdown-content
  > .dropdown-trigger
  > ul.dropdown-content
  > li
  > a,
.mean-container
  ul.dropdown-content
  > .dropdown-trigger:hover
  > ul.dropdown-content
  > li:hover
  > a {
  padding: 12px 40px;
  width: calc(100% - 80px);
}
.mean-container
  ul.dropdown-content
  > .dropdown-trigger:hover
  > ul.dropdown-content
  > li {
  border-bottom: 0px solid #e5e5e5;
}
.mean-container .mean-nav > ul > li > ul > li a.mean-expand {
  height: 45px;
  padding: 0px !important;
}

@media only screen and (max-width: 1199px) {
  .header-navigation-right .contact-info {
    display: none;
  }
  .header-navigation-right .search-wrap {
    position: absolute;
    top: 23px;
    right: 50px;
    margin-left: 0;
    z-index: 999999;
  }
  .header-navigation-right .search-wrap .search-btn {
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 33px;
  }
  .header-navigation-right .search-wrap .search-form {
    top: calc(100% + 23px);
  }

  .mobile-menu {
    display: block;
  }
  .mobile-menu .mobile-logo {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0px;
    top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 85px;
    z-index: 9999;
  }
  .mobile-menu .menu-label {
    display: none;
  }

  .site-navigation {
    display: none;
  }

  .mean-container .mean-bar {
    float: none;
  }
  .mean-container .mean-bar .mean-nav {
    float: none;
  }

  .mean-container .mean-nav ul li a {
    color: #000;
    display: block;
    float: none;
    font-size: 16px;
    padding: 15px 0px;
    width: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border-top: 1px solid #262626;
  }
  .mean-container .mean-nav ul li a:hover {
    padding-left: 7px;
  }
  .mean-container
    .mean-nav
    #nav
    > li.dropdown-trigger
    > .dropdown-content
    > li.dropdown-trigger:hover
    > a {
    padding-left: 30px !important;
  }
  .mean-container
    .mean-nav
    #nav
    > li.dropdown-trigger
    > .dropdown-content
    > li.dropdown-trigger
    > .dropdown-content
    > li:hover
    > a {
    padding-left: 45px !important;
  }
  .mean-container
    .mean-nav
    #nav
    > li.dropdown-trigger
    > .dropdown-content
    > li.dropdown-trigger
    .mean-expand {
    height: 54px;
    padding-left: 0 !important;
  }
  .mean-container
    .mean-nav
    #nav
    > li.dropdown-trigger
    > .dropdown-content
    > li.dropdown-trigger
    .mean-expand.mean-clicked:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .mega-menu-content {
    background-color: transparent;
    left: 0;
    padding: 0px 20px 25px;
    position: relative;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    width: calc(100% - 40px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.07);
  }
  .mega-menu-content .cat-item {
    background-color: transparent;
    border-top: 0 none !important;
    padding: 0 !important;
  }
  .mega-menu-content.carousel-nav-dots .owl-dots {
    padding-top: 20px;
  }
}

 

/*CSS START(AL AMIN) */
/* ==============================================================================*/
                                  /* ABOUT PAGE */
/* ==============================================================================*/

/* About Area css start (About page)*/

#about-banner {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.52), rgba(28, 25, 26, 0.73)), url('../images/about-banner.jpg');
}


/* About Area css end (About page)*/


/* About Video Area css start (About page)*/

#about-video {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/about-video-bg.jpg');
}

.video-content {
  position: relative;
  margin-top: -450px;
}
.know-car{
  padding-bottom: 330px;
}
.video-content img {
    border: 5px solid #fff;
}

.img-with-video .img-wrap .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/* video play Button */

.video-play-btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border-radius: 50%;
    color: #313131;
}

.img-with-video .img-wrap .hover .video-play-btn {
    color: #2a81a5;
    width: 85px;
    height: 85px;
    line-height: 85px;
}

.img-with-video .img-wrap .hover .video-play-btn::before {
    width: 90px;
    height: 90px;
}


/* video play Button before */

.video-play-btn::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
    z-index: -1;
}


/* video play box */

.player {
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.player__video {
    position: relative;
    top: 50%;
    left: 50%;
    height: 70%;
    width: auto;
    max-width: 75%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.95);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.95);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.js--show-video {
    opacity: 1;
}

.video-filler {
    display: block;
    width: 100%;
}


/* video close button */

.video-close {
    position: absolute;
    z-index: 0;
    top: 0;
    right: -30px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 0 50% 50% 0;
    cursor: pointer;
    font-size: 24px;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.video-iframe {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #fff;
}

.single-about-box h5{
  font-weight: 600;
}
.font-bell {
  color: #ff6654;
  font-size: 18px;
  line-height: 28px;
}

.single-about-box i{
  width: 8%;
  float: left;
}
.single-about-box span{
  width: 92%;
  float: left;
}
/* accordion */

.accordion {
    color: #444;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.8s;
}



.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    transition: content 0.3s ease-out;
}

.active:after {
    content: "\2212";
    transition: content 0.3s ease-out;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #fff;
}

.panel p {
    color: #fff;
}

.single-accordion .accordion {
    background: transparent;
    color: #fff;
}


/* About Video Area css end (About page)*/


/* ==============================================================================*/
                              /*(Leasing page)*/
/* ==============================================================================*/

/* ========Dreams car  area style start==========*/
.single-dream-car .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    box-shadow: 0 9px 6px 2px #F5F5F5;
    text-align: left;
}
.single-dream-car .card-text{
padding-bottom: 7px;
}
.single-dream-car .price {
  color: white;
  background-color: #ff6654;
  text-align: center;
  border-radius: 4px;
  float: right;
  margin-top: -35px;
  padding: 2px 12px;
}
.single-dream-car .card-title{
  font-weight: 600;
  padding-top: 15px;
}
/* ========Dreams car  area style end==========*/


/* Promo Area css Start */
.promo-area {
  position: relative;
  background: url(../images/promo_bg.jpg) no-repeat fixed 0 0/cover;
  z-index: 1;
}
.promo-area::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  z-index: -1;
}

.promo-box-left {
  position: relative;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 50px;
}

.promo-box-left::after {
  position: absolute;
  background: #ec3323 none repeat scroll 0 0;
  content: "";
  top: 0;
  right: 55%;
  width: 2030px;
  height: 100%;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  z-index: -1;
}

.promo-box-left::before {
  position: absolute;
  background: #fff none repeat scroll 0 0;
  content: "";
  top: 0;
  right: 43%;
  width: 70px;
  height: 100%;
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  z-index: -1;
}

.promo-box-right {
  padding: 72px 0;
}

.promo-box-right h3 {
  font-size: 34px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 15px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: inline-block;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 50px;
}


/* Promo Button */
.promo-btn {
  color: #fff;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #ec3323;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 8px 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.promo-btn:hover::before, .promo-btn:hover::after{
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #ec3323;
}
.promo-btn::after{
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}
.promo-btn::after{
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.promo-btn::before, .promo-btn::after{
  content: '';
  display: block;
  position: absolute;
  border-color: #ec3323;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.promo-btn::before{
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}
/* Promo Area css end */

/* ==========Question and answer Area css start=========== */
.text-doc{
    font-size: 13px;

}
.text-doc i{
    padding: 0 10px 0 0;
    font-size: 16px;
}

.single-acc i{
  float: right;
}
.single-acc .card-header{
  background:transparent;
  padding: 22px;
}
/* ==========Question and answer Area css end=========== */

/* ==============================================================================*/
                              /*(Leasing Details page)*/
/* ==============================================================================*/


/* <!--  =========Leasing Details sections left side start========= -->*/
.img-label {
  text-transform: uppercase;
  font-size: 12px;
  background-color: #ff665480;
  padding: 16px;
  border-radius: 24px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 105px;
  margin-left: 30px;
  line-height: 0;
}

.car-img {
    background-color: #ff665459;
    border-radius: 8px;
}

.i-class {
  margin-right: 10px;
  align-items: center;
  display: flex;
}
.icon-wrapper {
    line-height: 4px;
    display: flex;
}
.button {
    background-color: #ff6654;
    padding: 0px 21px 0px 21px;

}
.button a:hover {
    color: #fff;
}
.list {
    list-style: disc;
    padding: 0 18px;
}
.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
}
.leasing-title h6 {
    color: #ff6654;
}
.text-titel h4 {
    margin: 20px 0;
}
.i-test {
    margin-right: 10px;
}
.font {
    color: #ff6654;
}
.font:hover{
    color:#5f5f5f;
}
.leasing-left h5{
  font-weight: 600;
}
.leasing-title h6{
  font-weight: 600;
}
.leasing-left p{
  padding-bottom: 15px;
}
.leasing-left small{
  color: #aeb6bf;
}
.text-titel h4 {
  margin: 20px 0;
  font-weight: 600;
  color: #1c2833;
}
.icon-wrapper i{
  font-size: 24px;
  padding-right:8px; 
}
.i-text p{
  padding: 0;
}
.i-text h6{
  font-weight: 600;
}
.i-text i{
  font-size: 24px;
}
/* <!--  =========Leasing Details sections left side End========= -->*/


/* <!--  =========Leasing Details sections right side start========= -->*/
.icon-wrapper .i-class i{
  font-size: 24px;
  padding-right:8px; 
}
.right-tag{
  color: #1c2833 !important;
  font-size: 16px !important;
}
.i-text .custom-select {
  border: 0;
  width: 38%;
  padding: 0 18px;
}
.i-text .custom-select input[type="text"], select, input[type="password"]{
  min-height: 0;
}
.leasing-right h6 {
  color: #aeb6bf;
  font-size: 14px;
}
.leasing-title h4, .leasing-right h4 {
  font-weight: 600;
  color: #1c2833;
}
.leasing-right dt {
width: 50%;
display: inline-flex;
font-size: 14px;
}
.leasing-right dd {
width: 50%;
float: right;
text-align: right;
font-size: 14px;
}

.leasing-right i{
  align-self: center;
  font-size: 13px;
  padding-left: 4px;
}

.leasing-right .question-call{
  background: #ededed;
  padding: 12px;
  outline: none;
}

.leasing-right .delivered {
  text-align: center;
  justify-content: center;
  display: grid;
}
.delivered p{
  color: #aeb6bf;
  font-size: 14px;
}
/* <!--  =========Leasing Details sections right side End========= -->*/